* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
body {
  background-color: #190d07;
}
.swiper-container {
  width: 100%;
}
.swiper-slide {
  text-align: center;
  background: #190d07 !important;
  color: #fff !important;
  font-size: .32rem;
}
.menu {
  min-width: 1rem;
  width: 70%;
  max-width: 3.2rem;
  background-color: #2C8DFB;
  color: #fff;
}
.content {
  width: 100%;
}
.office {
  width: 100%;
}
.office .office_content {
  width: 100%;
  height: 3.05rem;
  margin-bottom: 0.1rem;
  text-align: center;
  display: block;
}
.office .office_content p {
  line-height: 0.40rem;
  font-size: 0.24rem;
  color: #fff;
}
.commonHeader {
  height: .88rem;
  width: 100%;
  line-height: .88rem;
  background: #190d07;
  color: #fff ;
  position: relative;
}
.commonHeader .cBack a {
  line-height: .88rem;
}
.commonHeader .cBack a img {
  width: .2rem;
  height: .37rem;
  float: left;
  margin-top: .25rem;
  margin-left: 0.3rem;
}
.cTitle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  font-size: .32rem;
  width: 3rem;
}
.menu-button {
  position: absolute;
  top: 8px;
  right: 0px;
  padding: 0.15rem;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #190d07;
}
.menu-button .bar:nth-of-type(1) {
  margin-top: 0px;
}
.menu-button .bar:nth-of-type(3) {
  margin-bottom: 0px;
}
.bar {
  position: relative;
  display: block;
  width: 0.5rem;
  height: 0.05rem;
  margin: 0.1rem auto;
  background-color: #6d3f28;
  border-radius: 0.1rem;
  -webkit-transition: .3s;
  transition: .3s;
}
.menu-button:hover .bar:nth-of-type(1) {
  -webkit-transform: translateY(0.015rem) rotate(-4.5deg);
  -ms-transform: translateY(0.015rem) rotate(-4.5deg);
  transform: translateY(0.015rem) rotate(-4.5deg);
}
.menu-button:hover .bar:nth-of-type(2) {
  opacity: .9;
}
.menu-button:hover .bar:nth-of-type(3) {
  -webkit-transform: translateY(-0.015rem) rotate(4.5deg);
  -ms-transform: translateY(-0.015rem) rotate(4.5deg);
  transform: translateY(-0.015rem) rotate(4.5deg);
}
.cross .bar:nth-of-type(1) {
  -webkit-transform: translateY(0.15rem) rotate(-45deg);
  -ms-transform: translateY(0.15rem) rotate(-45deg);
  transform: translateY(0.15rem) rotate(-45deg);
}
.cross .bar:nth-of-type(2) {
  opacity: 0;
}
.cross .bar:nth-of-type(3) {
  -webkit-transform: translateY(-0.15rem) rotate(45deg);
  -ms-transform: translateY(-0.15rem) rotate(45deg);
  transform: translateY(-0.15rem) rotate(45deg);
}
.cross:hover .bar:nth-of-type(1) {
  -webkit-transform: translateY(0.135rem) rotate(-40.5deg);
  -ms-transform: translateY(0.135rem) rotate(-40.5deg);
  transform: translateY(0.135rem) rotate(-40.5deg);
}
.cross:hover .bar:nth-of-type(2) {
  opacity: .1;
}
.cross:hover .bar:nth-of-type(3) {
  -webkit-transform: translateY(-0.135rem) rotate(40.5deg);
  -ms-transform: translateY(-0.135rem) rotate(40.5deg);
  transform: translateY(-0.135rem) rotate(40.5deg);
}
.room-banner img {
  font-size: 0;
  width: 100%;
  height: 100%;
}
.room-banner .swiper-pagination-bullet-active {
  background-color: #f5ebdd;
}
.room-main h4 {
  font-size: 0.32rem;
  line-height: 1.13rem;
  height: 1.13rem;
}
.room-main p {
  font-size: 0.24rem;
  line-height: 0.36rem;
  margin-bottom: 0.2rem;
}
.room-main h5 {
  font-weight: normal;
  font-size: 0.2rem;
  line-height: 0.39rem;
}
.room-main h5 i {
  margin-right: 0.13rem;
  margin-left: 0.08rem;
}
.room-main h5 .last2 {
  margin-left: 0.32rem;
  margin-right: 0.14rem;
}
.room-main h5 .last1 {
  margin-left: -0.13rem;
  margin-right: 0.14rem;
}
.room-main a {
  display: inline-block;
  color: #fff;
  font-size: 0.2rem;
  border: 1px solid #fff;
  height: 0.57rem;
  line-height: 0.57rem;
  padding: 0 0.59rem;
  margin-top: 0.4rem;
}
