/*样式预设*/
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  outline: none;
}
img {
  border: none;
  vertical-align: top;
}
input {
  border: none;
  outline: none;
}
textarea {
  resize: none;
}
li {
  list-style: none;
}
/*清理浮动*/
.clearfix:after {
  content: "200B";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/*ie6双倍边距兼容；块级元素：float+margin*/
.fl {
  float: left;
  _display: inline;
}
.fr {
  float: right;
  _display: inline;
}
/*属性：值/9;ie浏览器；*属性：值 ie6/7，_ie6*/
i,
em {
  font-style: normal;
}
html,
body {
  width: 100%;
  height: 100%;
}
.dota_loL ul {
  width: 1.68rem;
  position: absolute;
  left: 0.68rem;
  top: 2.62rem;
}
.dota_loL ul li {
  line-height: 1.06rem;
  font-size: 0.32rem;
  text-align: center;
  padding-bottom: 0.02rem;
  position: relative;
  font-weight: bold;
  font-family: "苹方";
}
.dota_loL ul li:after {
  content: "";
  display: block;
  width: 1.68rem;
  height: 0.02rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff, rgba(255, 255, 255, 0));
}
.dota_loL ul li a {
  color: #fff;
}
